/* src/components/TrainingForm.css */



body {
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;
    margin: 0;
    padding: 0;
}

form {
    background: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(10px);
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
}

form div {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #333;
    font-weight: bold;
}

input,
select {
    width: 100%;
    padding: 10px;
    border: 2px solid #007BFF;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
    transition: all 0.3s ease;
}
input:focus,
select:focus {
    border-color: #0056b3;
    box-shadow: 0px 0px 10px rgba(0, 91, 187, 0.5);
}
input::placeholder {
    color: #888;
    opacity: 1;
}

button {
    width: 100%;
    padding: 10px;
    background: linear-gradient(90deg, #007BFF, #0056b3);
    background-color: #007BFF;
    border: none;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

h2 {
    text-align: center;
    color: #333;
}