/* Reset de CSS y estilos globales */
/* src/index.css */
body {
  font-family: 'Roboto', sans-serif;
  background-color: #f0f2f5;
  margin: 0;
  padding: 0;
  background-image: url('assets/gym-background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}